/* ダークモード */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
    html {
        color-scheme: dark;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

p.desc {
    font-size: 8px;
}

div.small {
    font-size: 11px;
}